label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -0.021rem;
}

div {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0px;
  padding: 0px;
}

div p:last-child {
  color: #CD2C2C;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.021rem;
}

input {
  min-width: 56px;
  padding: 18px 24px;
  border-radius: 8px;
  font-size: 1.4rem;
  letter-spacing: -0.025rem;
  font-weight: bold;
}

input::placeholder {
  opacity: 40%;
}

input:hover {
  border-color: var(--color-orange);
}

input:focus {
  border-color: transparent;
  outline: 1px solid var(--color-orange);
}

input:placeholder-shown {
  border: 1px solid #CFCFCF;
}

input.invalid {
  border: 2px solid #CD2C2C;
}

input:not(:placeholder-shown):valid {
  border: 1px solid var(--color-orange);
}

label:has(input[type="radio"]) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 18px;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
}

label:has(input[type="radio"]):hover {
  border-color: var(--color-orange);
}

label:has(input[type="radio"]) input {
  margin: 0px;
  min-width: min-content;
  margin-right: 16px;
  outline: none;
  accent-color: var(--color-orange);
}

label:has(input[type="radio"]:checked) {
  border: 1px solid var(--color-orange);
}

